<div class="container" style="text-align: center;">
    <h1>Need a place to stay for your vacation?</h1><br>
    <h2>We got you covered.</h2><br>
    <h3>Join AirBnB and explore your next destination home options!</h3><br>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">

        <div class="form-group">
            <label>FullName</label>
            <input class="form-control" type="text" id="fullname" formControlName="fullname" placeholder="Fullname"><br><br>
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" id="email" formControlName="email" placeholder="Email"><br><br>
        </div>
        
        <label>password</label>
        <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password"><br><br>

        <button class="btn btn-primary" type="submit">Sign Up</button>




    </form>
</div>
